
body {
  background-color: #ffffff;
  text-align: center;
  margin: 5%;
}

footer {
  /* background-color: #1B1938; */
  text-align: center;
  margin-top: 5%;

}


.container {
  text-align: center;
  display: inline-block;
  width: 70%;
  background-color: #232A61;
}

.card {
  float: left;
  text-align: center;
  width: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3E52A3;
}

.image {
  width: 100%;
  }

.info {
  text-align: left;
  color: #EEEEEE;
  margin: 2rem;
}
