body {
  background-color: #fff;
  font-family: Montserrat;
}

#title{
  background-color: #000;
  margin: 7% 5%;
}

.row{
  padding: 9% 11%;
}

.col-6{
  background-color: darkviolet;
}

.color-col{
  margin-right: 0;
}

.image-fluid{
  max-width: 100%;
  height: auto;
}


.attribution {
  font-size: 11px;
  text-align: center;
  /* padding: 20px; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
