body {
  background-color: #EEEEEE;
  font-family: Montserrat;
  text-align: center;

}

font {
  color: violet;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.6;

}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.parent{
  background-color: #EEEEEE;
  padding: 150px 60px;
  height: 40%;
}

.child{
  background-color: #000;
  padding: 150px 100px;
  border-radius: 3px;
  font-family: Montserrat;
  font-weight: 900;
  width: 100%;
}

.row{
  background-color: #3c005a;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

.text-item{
  background-color: #19003f;
  position: relative;
  padding: 80px;
  text-align: left;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;


}

.image-item{
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.image-fluid{
  display: block;
   width: 100%;
   height: 100%;
   opacity: 55%;
   saturate: 80%;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px;
} */
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  #title {
    text-align: center;
  }
  div.image-item {
    position: static;
  }
}
